*{margin: 0;padding: 0;}
.title {
    height: 80px;
    background-color: slategray;
}
.title h1 {
    padding: 20px;
    color: white;
}
.title_2 {
    height: 130px;
    border: lightgrey 1px solid;
}
.title_2 ul {
    margin-top: 35px;
}
.title_2 ul li {
    display: inline;
    margin-right: 40px;
}
.title_2 h2 {
    float: left;
    margin-right: 50px;
    height: 130px;
    width: 150px;
    background-color: lightgrey;
    text-align: center;
    line-height: 130px;
    border-bottom: white 1px solid ;
}
.title_2 p {
    margin-top: 15px;
    margin-bottom: -15px;
}