/**{margin: 0; padding: 0;}*/
div{
    margin-bottom: 30px;
}
ul{
    list-style:none;
    /*float: left;*/
    padding-left: 0px;
}
ul li {
    display: inline;
    margin-right: 20px;
}
.title_2 p b {
    display: block;
}